* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Paaji", cursive;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*hero*/
#menu {
  background-color: #037f99;
  color: white; }
  #menu .lista {
    color: white; }
    #menu .lista #li-derecha {
      padding: 50px; }

/*seccion unooo*/
.logo1, .logo2 {
  display: inline-block; }

.logo1 {
  margin-left: 50px;
  font-size: 50px; }

.logo2 {
  font-size: 50px;
  color: #FA8072; }

@media only screen and (max-width: 1000px) {
  .logo1 {
    font-size: 30px;
    margin: 0px; }

  .logo2 {
    font-size: 30px; } }
@media only screen and (max-width: 700px) {
  .logo1 {
    font-size: 30px; }

  .logo2 {
    font-size: 30px; }

  .sombra {
    width: 320px;
    margin: auto;
    font-size: 20px; }

  h1.titulo {
    font-size: 50px; }

  div.sub-titulo {
    font-size: 20px;
    font-family: cursive;
    word-spacing: 5px; }

  section#seccion-uno {
    height: 310px; } }
@media only screen and (max-width: 375px) {
  h1.titulo {
    font-size: 30px; }

  div.sub-titulo {
    margin-top: 40px;
    font-size: 15px; }

  div.sombra {
    padding: 50px; } }
#seccion-uno {
  margin-top: -25px;
  background-image: url(../img/img-1.jpg);
  height: 400px;
  background-size: cover;
  background-position: center top; }

.sombra {
  background-color: rgba(0, 125, 157, 0.8);
  padding: 40px;
  width: 90%;
  height: auto;
  margin: auto; }

.titulo {
  font-size: 90px;
  color: #FA8072;
  display: flex;
  text-align: center;
  justify-content: center; }

.sub-titulo {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 80px;
  font-size: 20px;
  font-family: cursive !important;
  word-spacing: 30px; }

/* seccion-dos*/
.titulo__dos {
  color: #FA8072;
  font-size: 20px; }

.parrafo__dos {
  color: white;
  font-size: 20px;
  padding: 15px; }

.seccion-dos {
  background-color: white; }
  .seccion-dos .grilla-decuatro {
    margin-top: 25px;
    margin-bootom: 25px; }
    .seccion-dos .grilla-decuatro .caption {
      background-color: skyblue; }
    .seccion-dos .grilla-decuatro .cajilla-imagen {
      margin-top: 0;
      background-color: #037f99;
      margin-bootom: 25px; }

/*tercera section*/
.cajas-azul-claro {
  background-color: #ecf7fb; }

.titulo-tres {
  font-size: 30px;
  color: #FA8072; }

.sub-titulo-tres {
  font-size: 20px;
  padding: 12px; }

.seccion-tres {
  background-color: #037f99; }
  .seccion-tres iframe {
    width: 100%;
    height: 400px; }
  .seccion-tres #input-caja {
    background-color: #ECF7FB;
    border-radius: 5px;
    padding: 10px; }
  .seccion-tres .input {
    width: 22vw;
    height: 8vh;
    border-radius: 5px; }

#seccion-cuatro {
  margin-top: 10px;
  background-image: url(../img/bunny-head.png);
  height: 15vh;
  background-size: 15%;
  padding: 10px; }

@media (max-width: 1200px) {
  #seccion-cuatro {
    height: 5vh; } }
footer {
  text-align: center;
  background-color: #037f99;
  padding: 20px;
  color: white; }

.div-footer-rosa {
  background-color: #FA8072;
  height: 1vh;
  position: static; }

/*# sourceMappingURL=main.css.map */
